body{
display: flex;
flex-direction: column;
}

main{
display:flex;
flex-direction: row;
flex: auto;

}
article{
flex:2;
overflow-y: auto;
}
aside{
flex:3;
overflow-y: auto;
}

header {
    background-color: green;
    color: #fff;
    padding: 20px;
}

